<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <link rel="icon" type="image/icon" href="/images/icon.png" />
    <title>cafe-In</title>
    <link rel="stylesheet" href="/css/master-client.css">
</head>

<body>
<div th:unless="${session.login == null}">
    <nav>
        <div id="header">
            <a href="/logout">LOGOUT</a>
            <br /><br />
            <center><img src="/images/logo4.png" id="logo" width="420" height="75"></center>
        </div>
        <ul id="menu">
            <li><a href="/master">Cafe-In</a></li>
            <li><a class="active" href="/master/allOwnerList">Owner list</a></li>
            <li><a href="/master/allStoreList">Store list</a></li>
            <li><a href="/master/allClientList">Client list</a></li>
            <li><a href="/master/notice">Notice</a></li>
        </ul>
    </nav>
</div>

<section id="container">

    <br>
    <h2>Owners List</h2>
    <hr />

        <div class="content">
            <table><thead>
            <th><span>Name</span></th>
            <th><span>Email</span></th>
            <th><span>password</span></th>

            </thead>
                <tbody>
                <div th:if="${!owners.isEmpty()}" th:each="owner : ${owners}">
                <tr>
                    <td><div th:text="${owner.name}"></div></td>

                    <td><div th:text="${owner.email}"></div></td>
                        <td><div th:text="${owner.password}"></div></td>
                </tr></div>
                </tbody>
            </table>
       <br />
    </div>
    </div>

        <div class="store"><div class="store"><a href="/master">메인으로 가기</a></div></div>
        <br>
    </div>
</section>
<footer>
    &copy; 2020 Hansung University, Inc. &middot;
</footer>
</body>

</html>