<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>owners</title>
</head>
<body>
<div th:if="${!owners.isEmpty()}" th:each="owner : ${owners}">
    <div class="content">
        <div class="header" th:text="${owner.email}">
            email
        </div>
        <div class="meta" th:text="${owner.name}">
            name
        </div>
        <div class="description" th:text="${owner.password}">
            Password
        </div>
        <br>
    </div>
</div>

</body>
</html>