<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>나의 전체 가게</title>
</head>
<body>
<h2> 나의 가게 전체 정보</h2>
<div th:if="${!stores.isEmpty()}" th:each="store : ${stores}">
    <div class="content">
        <span>Name : </span>
        <div th:text="${store.name}">
            name
        </div>
        <span>Location : </span>
        <div th:text="${store.location}">
            location
        </div>
        <span>Theme : </span>
        <div th:text="${store.theme}">
            Theme
        </div>
        <p>이미지</p>
        <img th:src="${store.storeUrl}" src="" width="150" height="100" alt="가게 이미지">
        <br>
        <br>
        <a th:href="@{'/store/list/'+ ${store.id}}"> 매장 자세히 보기 </a>
        <br>
        <br>
    </div>
</div>

</body>
</html>